*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    color: white;
}

:root {
    --bg-color : #7EC8E3;
    --second-bg-color : #0000FF;
    --third-bg-color : #000C66;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;   
}

.navlist{
    display: flex;
}


.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 7.5rem 9% 2rem;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: linear-gradient(245.59deg, #7EC8E3 0%, #0000FF 28.53%, #000C66 75.52%);  
    padding-bottom: 6rem;
}

.heading{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

span{
    color: var(--bg-color);
}

.about-img{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--bg-color);
}

h2{
    color: white;
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem double var(--bg-color);
    border-bottom:  .2rem double var(--bg-color);
    border-left:  .2rem double var(--bg-color);
    border-right:  .2rem double var(--bg-color);
}

.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 35px;
}

.about-content p{
    font-size: 14px;
    margin: 2rem 0 3rem;
}

@media (max-width: 700px){
    .about{
        font-size: 14px;
    }
    .about-content{
        font-size: 12px;
    }
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #000C66;
}

.footer-text p{
    font-size: 13px;
    text-align: justify;
    color: white;
}

@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
}
@media (max-width: 990px){
    .about-content h3{
        font-size: 25px;
    }
    .about-content p{
        padding-left: 6px;
        padding-right: 6px;
        text-align: justify;
    }
    .heading{
        margin-top: 70px;
    }
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 50vh;
        background: transparent;
        border: 2px solid rgba(255,255,255, .2);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, .9);
        color: blue;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .navlist.open{
        right: 0;
    }
}
